body{
	background:#282B2D;
}

.login form{
	background: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.submit #wp-submit{
	background:#1F9FDB;
	background: #1F9FDB;
    width: 100%;
    height: 50px;
    box-shadow: none;
	-webkit-box-shadow: none;
	text-shadow: none;
}

.forgetmenot{
	display: none;
	border:none
}

#backtoblog{
	    position: fixed;
    bottom: 0px;
    display: block;
    background: lightgrey;
    width: 100%;
    left: 0px;
    margin-bottom: 0px;
    padding: 10px!important;
}

#nav a {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 1000;
    padding: 10px;
}